body {
  margin: 20px 40px;
}

.job {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
